.card
{
    width: 300px;
}
.card img
{
    height: 300px;
    width: 300px;
}
.card-text 
{
    font-size: 18px;
}
.card-text .text-amarillo
{
    font-size: 14px;
}
header img
{
    width: 110px !important; 
}
.carousel img
{
    height: 350px !important;
}
.text-amarillo
{
    color:rgb(184, 150, 78); 
}
.info
{
    font-size: 22px;
}
.text-oscuro
{
    font-weight: bold;
    color:rgb(167, 130, 51); 
}
.menu1 .row .col button
{
    width: 200px;
    font-size: 14px;
    
}
div img
{
    
    width: 120px;
}
.videos img
{
    width:250px;
    height:250px;
}
.video video
{
    width: 100%;
    height: 500px;
}
.mapa  iframe
{
    height: 600px;
    width:100%;
}
footer
{
    width: 100% !important;
}